""" Editing and Reloading .ideavimrc
nnoremap \e :e ~/.ideavimrc<CR>
nmap \r <Action>(IdeaVim.ReloadVimRc.reload)

""" Options
set ideajoin
set clipboard+=unnamed
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set hlsearch

""" Plugins
set surround
set highlightedyank

""" Key Mappings
let mapleader=" "

inoremap jj <esc>

nnoremap <leader>x :noh<CR>
nnoremap <leader>w :w<CR>
nnoremap <C-s> :%s/
nnoremap - <C-x>
nnoremap + <C-a>
nmap <leader>r <Action>(Run)
nmap <leader>q <Action>(Stop)

" Collapse/Expand
nmap zh <Action>(CollapseRegion)
nmap zl <Action>(ExpandRegion)
nmap <leader>zh <Action>(CollapseAllRegions)
nmap <leader>zl <Action>(ExpandAllRegions)

" Navigation
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nmap <leader>wv <Action>(MoveTabRight) " SplitVertically
nmap <leader>wc <Action>(Unsplit)
nmap <leader>wo <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>wm <Action>(MaximizeEditorInSplit)

" Goto*
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gp <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTest)
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)
nmap gc <Action>(VcsShowNextChangeMarker)
nmap gC <Action>(VcsShowPrevChangeMarker)

" Debug
nmap <leader>dr <Action>(Debug)
nmap <leader>db <Action>(ToggleLineBreakpoint)

" Zen Mode
nmap <leader>zm <Action>(ToggleZenMode)
