""" Editing and Reloading .ideavimrc
nnoremap \e :e ~/.ideavimrc<CR>
nmap \r <Action>(IdeaVim.ReloadVimRc.reload)

""" Options
set ideajoin
set clipboard+=unnamed
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set hlsearch

""" Plugins
set surround
set highlightedyank

""" Key Mappings
let mapleader=" "

inoremap jj <esc>

nnoremap <leader>x :noh<CR>
nnoremap <leader>w :w<CR>
nnoremap <C-s> :%s/
nnoremap - <C-x>
nnoremap + <C-a>

" Collapse/Expand
nmap zh <Action>(CollapseRegion)
nmap zl <Action>(ExpandRegion)
nmap <leader>zh <Action>(CollapseAllRegions)
nmap <leader>zl <Action>(ExpandAllRegions)

" Navigation
nmap <C-\> <Action>(SplitVertically)
nmap <C--> <Action>(SplitHorizontally)
nmap <C-=> <Action>(Unsplit)
nmap <C-m> <Action>(MoveEditorToOppositeTabGroup)
nmap th <Action>(PreviousTab)
nmap tl <Action>(NextTab)
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

" Goto*
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gp <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTest)
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)
nmap gf <Action>(Forward)
nmap gb <Action>(Back)

" Zen Mode
nmap <leader>zm <Action>(ToggleZenMode)
