""" Editing and Reloading .ideavimrc
nnoremap \e :e ~/.ideavimrc<CR>
nmap \r <Action>(IdeaVim.ReloadVimRc.reload)

""" Options
set ideajoin
set clipboard+=unnamed
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set hlsearch

""" Plugins
set surround
set highlightedyank

""" Key Mappings
let mapleader=" "

inoremap jj <esc>

nnoremap <leader>x :noh<CR>
nnoremap <leader>w :w<CR>
nnoremap <C-s> :%s/
nnoremap - <C-x>
nnoremap + <C-a>

" Collapse/Expand
nmap zh <Action>(CollapseRegion)
nmap zl <Action>(ExpandRegion)
nmap <leader>zh <Action>(CollapseAllRegions)
nmap <leader>zl <Action>(ExpandAllRegions)

" Navigation
nmap <C-\> <Action>(SplitVertically)
nmap <C--> <Action>(SplitHorizontally)
nmap <C-=> <Action>(Unsplit)
nmap <C-m> <Action>(MoveEditorToOppositeTabGroup)
nmap th <Action>(PreviousTab)
nmap tl <Action>(NextTab)
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

" Goto*
nnoremap gc <Action>(GotoClass)
nnoremap gi <Action>(GotoImplementation)
nnoremap gd <Action>(GotoDeclaration)
nnoremap gp <Action>(GotoSuperMethod)
nnoremap gt <Action>(GotoTest)
nnoremap ge <Action>(GotoNextError)
nnoremap gE <Action>(GotoPreviousError)
nnoremap gf <Action>(Forward)
nnoremap gb <Action>(Back)

" Terminal
nmap <c-t> <Action>(ActivateTerminalToolWindow)
nmap <leader>t <Action>(Terminal.OpenInTerminal)

" Zen Mode
nmap <leader>zm <Action>(ToggleZenMode)
